*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(213, 193, 177);
    font-size: large;
    font-style: italic;
}

/* .venues-container {
    max-width: 120px;
    display: flex;
    flex-direction: wrap;
    margin: 4rem auto;
} */
.venues {
    width: 100%;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: flex-start;
}
.venue-item {
    padding: 1rem;
    margin: 20px;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    border: solid 3px rgb(173, 114, 183);
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in;
  
}

.venue-item-admin {
    padding: 1rem;
    margin: 20px;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    /* border: solid 3px rgb(32, 181, 39); */
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in;
}

.venue-item-admin > img {
    overflow: hidden;
    width: 130px;
    height: 180px;
}

.venue-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0 0.2);
}

.venue-item > img {
    
    overflow: hidden;
    width: 140px;
    height: 180px;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 0.rem;
    background-color: aliceblue;
    
}

h1 {
    margin-bottom: 50px;
}

.h5-adminpage {
    display: flex ;    
    justify-content: center;
    font-style: italic;
    font-size: 24px;
    
}

.footer {
    font-size: 12px;
    text-align: center;
    margin-top: 140px;
}

.container {
    height: 100%;
}

.calendar {
    display: flex ;    
    justify-content: center;
    width: 100vw;
    margin: 20px 0 50px 0 ;
    
}

.react-calendar {
    width: 600px;
    /* max-width: 100%; */
    background: rgb(218, 222, 9);
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }

  .image {
    overflow: hidden;
    width: 400px;
    height: 281px;
  }

  .image2 {
    overflow: hidden;
    width: 400px;
    height: 450px;
  }

  .footer-img {   
    overflow: hidden;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
  }

.paragraph{
    font-size: 20px;
    text-align:justify;
    margin-top: 50px;
}


  /* .accordion {
    display: grid ;    
    justify-content: 100%;
  } */
