*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(213, 193, 177);
    font-size: large;
    font-style: italic;
}

/* .venues-container {
    max-width: 120px;
    display: flex;
    flex-direction: wrap;
    margin: 4rem auto;
} */
.venues {
    width: 100%;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: flex-start;
}
.venue-item {
    padding: 1rem;
    margin: 20px;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    border: solid 3px rgb(173, 114, 183);
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in;
  
}

.venue-item-admin {
    padding: 1rem;
    margin: 20px;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    /* border: solid 3px rgb(32, 181, 39); */
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in;
}

.venue-item-admin > img {
    overflow: hidden;
    width: 130px;
    height: 180px;
}

.venue-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0 0.2);
}

.venue-item > img {
    
    overflow: hidden;
    width: 140px;
    height: 180px;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 0.rem;
    background-color: aliceblue;
    
}

h1 {
    margin-bottom: 50px;
}